* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #333333;
  font-family: sans-serif;
}

.memebox {
  display: flex;
  flex-flow: row wrap;
}

.meme-container {
  flex: 1 0 12.5%;
  position: relative;
  min-width: 175px;
  min-height: 175px;
}

.meme-container:nth-last-child(2):nth-child(8n) {
  min-width: 50%;
}

.meme-container:before {
  content: 'Copy URL';
  display: none;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.75);
  line-height: 175px;
  text-align: center;
  color: white;
  cursor: pointer;
}

.meme-container:hover:before {
  display: block;
}

.meme-container-clicked:before {
  content: 'Copied!';
}

.meme {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}
